{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a New Secret {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Name</label>
        <input type="text" name="name"
               placeholder="secret name" class="form-control"
               value="{{ request.form['name'] }}"></input>
    </div>

    <div class="form-group">
        <label for="content">JSON secret</label>
        <textarea name="json_secret" placeholder=" enter json credentials here"
                  class="form-control">{{ request.form['json_secret'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
        <a href="{{ url_for('index')}}">Home</a>
    </div>
</form>
{% endblock %}